@import "@economist/component-icon";
@import "@economist/component-balloon";
@import "./user-menu";
@import "./search";
@import "@economist/component-subscribe-message";
@import "@economist/component-typography";

:root {
  --navigation__default-height: 64px;
}

.navigation {
  font-size: 1rem;
  position: relative;
  font-family: var(--fontfamily-body);
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  cursor: pointer;
}

.navigation__primary {
  width: 100%;
  background: var(--color-kiev);
  z-index: 2;
  line-height: 1em;
  height: 64px;
}

.navigation__primary-inner {
  display: flex;
}

.navigation__link-search svg,
.navigation__link-logo svg {
   float: left;
}

.navigation__primary-expander {
   width: 100%;
}

.navigation__secondary-inner {
  text-align: right;
  background: var(--color-berlin);
}
