@import "@economist/component-icon";
@import "@economist/component-balloon";
@import "./settings";
@import "./user-menu";
@import "./search";
@import "./mobile-menu";
@import "./main-navigation";
@import "@economist/component-subscribe-message";
@import "@economist/component-typography";
@import "@economist/component-icon/backgrounds/headset.css";
@import "@economist/component-icon/backgrounds/video.css";
@import "@economist/component-icon/backgrounds/film.css";


.navigation {
  font-size: 1rem;
  font-family: var(--fontfamily-body);
}

.navigation a.navigation__main-navigation-link,
.navigation .navigation__main-navigation-link > a {
  text-decoration: none;
  height: var(--navigation__default-height);
  padding-top: var(--navigation__link-top-padding);
  box-sizing: border-box;
}

.navigation a:hover {
  cursor: pointer;
}

.navigation__primary {
  width: 100%;
  background: var(--color-kiev);
  z-index: 2;
  line-height: 1em;
  height: var(--navigation__default-height);
}

.navigation__primary-inner {
  display: flex;
  position: relative;
  height: var(--navigation__default-height);
}

.navigation__primary-inner > * {
  /* Required by IE */
  flex: 1 0 auto;
  /* Required by older version of Safari */
  display: -webkit-box;
}

.navigation__primary-expander {
   width: 100%;
   flex: 0 1 auto;
}

.navigation__secondary-inner {
  text-align: right;
  background: var(--color-berlin);
}

.navigation__main-sections-card .balloon {
  position: static;
}

@media (--mobile-up) {
  .navigation__link-logo {
    min-width: 128px;
  }
}

.navigation__link-logo {
  height: var(--navigation__default-height);
}

.navigation__link-empty-logo {
  display: none;
  width: 1em;
  background: var(--color-economist);
  height: 100%;
}

@media (--mobile-down) {
  .navigation__link-logo .Icon-economist {
    display: none;
  }
  .navigation__link-empty-logo {
    display: block;
  }
}
