@import "@economist/component-icon";
@import "@economist/component-balloon";
@import "./user-menu";
@import "@economist/component-google-search";

:root {
  --navigation__default-height: 64px;
}

.navigation {
  font-size: 1rem;
  position: relative;
  font-family: var(--fontfamily-body);
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  cursor: pointer;
}

.navigation__primary {
  width: 100%;
  background: var(--color-kiev);
  z-index: 2;
  line-height: 1em;
  height: 64px;
}

.navigation__primary-inner {
  display: flex;
}

.navigation__link-search {
  padding: 5px var(--grid-gutter-s);
  vertical-align: middle;
  width: 1em;
}

.navigation__link-search use,
.navigation__link-search svg {
  fill: var(--color-thimphu);
}

.navigation__link-search svg,
.navigation__link-logo svg {
   float: left;
}

.navigation__search {
  width: 200px;
  flex: 0 1 auto;
}

.navigation .search {
  display: table;
  height: var(--navigation__height, var(--navigation__default-height));
}

.navigation__primary-expander {
   width: 100%;
}

.navigation__secondary-inner {
  text-align: right;
  background: var(--color-berlin);
}
