@import "./settings";
@import "@economist/component-accordion";
@import "@economist/component-accordion/styles.css";
@import "@economist/component-icon/backgrounds/video.css";
@import "@economist/component-icon/backgrounds/headset.css";
@import "@economist/component-icon/backgrounds/film.css";

.navigation__main-navigation-link.navigation__mobile-accordion {
  display: none !important;
}

@media (--mobile-down) {
  .navigation__mobile-accordion.navigation__main-navigation-link {
    display: flex !important;
  }
}

.navigation__mobile-accordion.accordionExpander--not-visible .balloon-content {
  display: none;
}

.navigation__mobile-accordion  .balloon-content {
  left: 0 !important;
  top: 100%;
}

.navigation__mobile-accordion .navigation__sections-link {
  display: flex;
  align-items: center;
}

/* Sticky navigation not allowed to scroll submenus
if their container is deeper than the viewport so we
need to have a fixed height */
.navigation__mobile-accordion .balloon-content {
  padding: 0;
  max-height: calc(100vh - var(--navigation__default-height));
  overflow-y: auto;
}

.navigation__mobile-accordion .Icon {
  width: var(--navigation-icon-size);
}

.navigation__mobile-accordion .link-button__group {
  display: flex;
  align-items: center;
}

.navigation__mobile-accordion.balloon--not-visible .Icon-close,
.navigation__mobile-accordion.balloon--visible .Icon-hamburger {
  display: none;
}

.navigation__mobile-accordion.balloon--not-visible .Icon-hamburger,
.navigation__mobile-accordion.balloon--visible .Icon-close {
  display: block;
}

.navigation__mobile-accordion .content .accordion__link {
  font-size: 1em;
}

.navigation__mobile-accordion .accordion__link {
  padding: 1em;
}

.navigation__mobile-accordion .Icon-down svg,
.navigation__mobile-accordion .Icon-up svg {
  fill: var(--color-beijing);
}

.navigation__mobile-accordion .link-button--icon:not(.accordionExpander__link) {
    background-size: 2em;
    background-position: 1em 50%;
}
