@import '@economist/component-typography';
@import './settings';
@import '@economist/component-sections-card';

:root {
  --icon-height: 28px;
  --main-navigation-link-padding: 2em;
}

.navigation__main-navigation-link {
  padding: 0 var(--main-navigation-link-padding);
  align-self: center;
  color: var(--navigation-link-color);
  font-size: var(--navigation-text-size);
  white-space: nowrap;

  @media (--navigation-tablet-down) and (--navigation-mobile-up) {
    padding-right: 1.8em;
    padding-left: 1.8em;
  }
}

/* stylelint-disable selector-no-type */

.navigation__main-navigation-link > a {
  /* stylelint-enable selector-no-type  */
  color: var(--navigation-link-color);
  white-space: nowrap;
}

.navigation__sections-link {
  position: relative;
  height: 100%;
  color: var(--color-thimphu);
  text-decoration: none;
}

.navigation__main-navigation-link-subscribe {
  font-family: var(--fontfamily-sans);
}

.navigation__main-sections-card .balloon-content {
  right: 0;
  left: 0;
  padding: 3em 0;
}

.navigation__primary-inner .navigation__main-sections-card {
  position: static;
}

.navigation__main-navigation-link--not-visible .balloon-content {
  display: none;
}

.navigation__main-navigation--desktop {

  @media (--navigation-mobile-down) {
    /* stylelint-disable */
    display: none !important;
    /* stylelint-enable */
  }
}

.navigation__main-navigation-link,
.navigation__sections-link {
  display: flex;
  align-items: center;
}

.navigation__primary {
  display: table;
  width: 100%;
  height: var(--navigation__default-height);
  line-height: 1em;
  background: var(--color-kiev);
  z-index: 2;
}

/* stylelint-disable declaration-block-no-duplicate-properties, selector-no-universal */

.navigation__primary-inner {
  display: table-row;
  display: flex;
  position: relative;
  height: var(--navigation__default-height);
}

.navigation__primary-inner > * {
  display: table-cell; /* IE9 Flexbox fallback */
  display: flex;
  vertical-align: middle;
  /* Required by IE */
  flex: 1 0 auto;
}

/* stylelint-enable declaration-block-no-duplicate-properties, selector-no-universal */

.navigation__user-menu-link-label {

  @media (--navigation-small-mobile-down) {
    display: none;
  }
}

.navigation__user-menu {

  @media (--navigation-small-mobile-down) {
    padding: 0;
  }
}

.navigation__user-menu-link.link-button--icon-background {

  @media (--navigation-small-mobile-down) {
    /* Ensure tappability and consistency with other icons. */
    box-sizing: border-box;
    min-width: 64px;
    padding: 0;
    /* Center the background icon to the <A>. */
    background-position: center;
  }
}

.navigation__user-menu .balloon {

  @media (--navigation-small-mobile-down) {
    /* We need to position the balloon in relationship to the navigation. */
    position: static;
  }
}

.navigation__user-menu .balloon-content {

  @media (--navigation-small-mobile-down) {
    /* Let's use all the available room in small devices. */
    /* stylelint-disable */
    right: 0 !important;
    /* stylelint-enable */
    left: 0;
  }
}
