@import './settings';
@import '@economist/component-typography';
@import '@economist/component-accordion/lib';
@import '@economist/component-accordion/lib/styles.css';
@import '@economist/component-icon/backgrounds/video.css';
@import '@economist/component-icon/backgrounds/headset.css';
@import '@economist/component-icon/backgrounds/film.css';

.navigation__main-navigation-link.navigation__mobile-accordion {
  /* stylelint-disable */
  display: none !important;
  /* stylelint-enable */
  padding: 0;
}

.navigation__mobile-accordion.navigation__main-navigation-link {

  @media (--navigation-mobile-down) {
    /* stylelint-disable */
    display: flex !important;
    /* stylelint-enable */
  }
}

.navigation--tappable-icon {
  padding: 0 2em;
}

.accordion__hr {
  height: 0;
  margin-right: 2em;
  margin-left: 2em;
  border: solid var(--color-london);
  border-width: 1px 0 0;
}

/* stylelint-disable */
.navigation__mobile-accordion.accordionExpander--not-visible .balloon-content {
/* stylelint-enable */
  display: none;
}

.navigation .navigation__mobile-accordion {
  position: static;
}

.navigation__mobile-accordion .navigation__sections-link {
  display: flex;
  align-items: center;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Sticky navigation not allowed to scroll submenus
if their container is deeper than the viewport so we
need to have a fixed height */

.navigation__mobile-accordion .balloon-content {
  overflow-y: auto;
  top: 100%;
  right: 0;
  /* stylelint-disable declaration-no-important */
  left: 0 !important;
  /* stylelint-enable declaration-no-important */
  /* Worst case scenario considered is iPhone4 resolution */
  /* stylelint-disable declaration-block-no-duplicate-properties */
  max-height: 450px;
  max-height: calc(100vh - var(--navigation__default-height));
  /* stylelint-enable declaration-block-no-duplicate-properties */
  padding: 0;
}

.navigation__mobile-accordion .Icon {
  width: var(--navigation-icon-size);
}

.navigation__mobile-accordion .link-button__group {
  display: flex;
  align-items: center;
}

.navigation__mobile-accordion.balloon--not-visible .Icon-close,
.navigation__mobile-accordion.balloon--visible .Icon-hamburger {
  display: none;
}

.navigation__mobile-accordion.balloon--not-visible .Icon-hamburger,
.navigation__mobile-accordion.balloon--visible .Icon-close {
  display: block;
}

.navigation__mobile-accordion .content .accordion__link {
  font-size: 1em;
}

.navigation__mobile-accordion .accordion__link {
  display: block;
  padding: 1em;
}

/* stylelint-disable */
.navigation__mobile-accordion .Icon-down svg,
.navigation__mobile-accordion .Icon-up svg {
  /* stylelint-enable */
  fill: var(--color-beijing);
}

/* stylelint-disable */
.navigation__mobile-accordion .link-button--icon:not(.accordionExpander__link) {
/* stylelint-enable */
  background-position: 1em 50%;
  background-size: 2em;
}

.navigation__mobile-accordion .link-button--icon-background {
  padding-left: 3.5em;
}

.navigation__mobile-accordion .link-button--icon-background::before {
  /* Workaround to fix the no-baseline aligment of the font */
  content: '';
  display: block;
  height: 0.28em;
}

.navigation__mobile-accordion .link-button--styled {
  margin: 1em;
  padding: 0.5em;
  color: var(--color-thimphu);
  font-weight: normal;
  text-align: center;
}
